main {
  background-image: url(https://img.freepik.com/free-vector/bank-vault-realistic-composition-with-view-safe-storage-entrance-with-massive-circle-shaped-locking-door_1284-62426.jpg?w=2000);
  background-repeat: no-repeat;
  
  background-position:  right;
  background-position: bottom;

}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: centre;
  text-align: center;
}

h2 {
  font-size: 30px;
}


 h2, p {
  text-align: left;
}



