main {
  background-image: url(https://securitybase.com/pub/media/catalog/product/cache/dadcd948e9950a77508dd6f7f4b41387/s/n/sng-sgd300sc85-1.jpg);
  background-repeat: no-repeat;
  
  background-position:  right;
  background-position: bottom;

}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: centre;
  text-align: center;
}

h2 {
  font-size: 30px;
}


 h2, p {
  text-align: left;
}



